*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.main{
    width: 100%;
    height: 100vh;
    background: #000;
    display: grid;
    place-items: center;
}
#slider{
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}
#slider::-webkit-scrollbar{
    display: none;
}
img{
    width: 250px;
    height: auto;
    padding: 20px;
   
    transition: transform 450ms;
}
img:hover{
    transform: scale(1.08);
}
